<div class="project-list" style="height:100%">
    <br>
    <button restrict access="0" type="button" class="btn btn-default btn-sm" ng-click="addSwitch()">
          <span class="glyphicon glyphicon-plus"></span> Add new Camera
        </button>
         <br><br>
    <h4>Switch List:</h4>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="switch in switchsList[0]">
                <td class="project-status" ng-switch on="switchsList[1][$index]">
                    <span ng-switch-when="active" class="label label-primary">
                        //switchsList[1][$index] //</span>
                    <span ng-switch-default class="label label-danger">//switchsList[1][$index] //</span>
                </td>
                <td class="project-title" ng-click="goToSwitchDetail(switch)">
                    <a>//switch[1]//</a>
                    <br/>
                    <small>//switch[2]//</small>
                </td>
                <td restrict access="0">
                    <button type="button" class="btn btn-success btn-sm" ng-click="goToSwitchConf(switch)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit 
                    </button>
                </td>
                <td restrict access="0">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteSwitch(switch[0])">
                    <span class="glyphicon glyphicon-remove"></span> Remove 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>