<div class="project-list" style="height:100%">
    <br>
    <button restrict access="0" type="button" class="btn btn-default btn-sm" ng-click="addDevice()">
          <span class="glyphicon glyphicon-plus"></span> Add new //device//
        </button>
    <br><br>
    <h4>//device//s List:</h4>
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="device in devicesList[0]">
                <td class="project-status" ng-switch on="devicesList[1][$index]">
                    <span ng-switch-when="active" class="label label-primary">
                        //devicesList[1][$index] //</span>
                    <span ng-switch-default class="label label-danger">//devicesList[1][$index] //</span>
                </td>
                <td class="project-title" ng-click="goToDeviceDetail(device)">
                    <h5 style="padding:0;margin:0;">//device[1]//</h5>
                    <br/>
                    <p>//device[2]//</p>
                    <div ng-show="show">
                        <p> Model: //device[5]//</p>
                        <p restrict access="0"> username: //device[3]//</p>
                        <p restrict access="0"> password: //device[4]//</p>
                    </div>
                </td>
                <td class="project-actions">
                    <a class="btn btn-white btn-sm btn-show" ng-click="showMore()"><i class="fa fa-folder"></i> //btn// </a>
                </td>
                <td restrict access="0">
                    <button type="button" class="btn btn-success btn-sm" ng-click="goToDeviceConf(device)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit 
                    </button>
                </td>
                <td restrict access="0">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="delete(device[0])">
                    <span class="glyphicon glyphicon-remove"></span> Remove 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>