
<br>
<form name="myform" class="login-form" action="" >
	
		<div class="header">
		<h1>Welcome to Switch Manager</h1>
		<span>Please, fill this form</span>
		</div>
	
		<div class="content">
		<input id="inputUsrname" name="username" type="text" class="input username" placeholder="Username" ng-model="username" required/>
		<div class="user-icon"></div>
		<input name="password" id="inputPassword" type="password" class="input password" placeholder="Password" ng-model="password"  required/>
		<div class="pass-icon"></div>		
		</div>

		<div class="footer">
		<a  type="submit" ng-click="myform.$valid && callData()" class="button btn btn-lg btn-primary btn-block btn-mod">Login</a>
		</div>
	<p id="errorMsg" style="display:none; color:red">Wrong username or password </p>
	</form>