<style type="text/css">
    #mynetwork {
      width: 400px;
      height: 350px;
      border: 1px solid lightgray;
    }
  </style>
<div>
    <h2>//switch[1]//</h2>
    <h5>//switch[5]//</h5>
    <h5>//switch[2]//</h5>

</div>
<hr>
<div>
    <h2>Connected Vlan</h2>
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="title in vlansTitle">//title//</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vlan in vlans">
                <td ng-repeat="r in vlan">//r//</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div>
    <h2>Interfaces Status</h2>
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="title in interfacesTitle">//title//</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="inter in interfaces">
                <td ng-repeat="r in inter">//r//</td>
            </tr>
        </tbody>
    </table>

</div>
<hr>
<div id="mynetwork"></div>